name: DevSecOps CI/CD



on:

  push:

    branches:

      - main

  pull_request:

    branches:

      - main



jobs:

  build-and-push:

    runs-on: ubuntu-latest



    steps:

      # 1. Checkout repo

      - name: Checkout code

        uses: actions/checkout@v3



      # 2. Set up Docker

      - name: Set up Docker Buildx

        uses: docker/setup-buildx-action@v2



      # 3. Login to GHCR

      - name: Log in to GHCR

        uses: docker/login-action@v2

        with:

          registry: ghcr.io

          username: ${{ github.actor }}

          password: ${{ secrets.GITHUB_TOKEN }}



      # 4. Set VERSION variable

      - name: Set VERSION variable

        run: echo "VERSION=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV



     # 5. Build Docker image from app/ folder

      - name: Build Docker image

        run: |

          echo "Building Docker image..."

          docker build -t ghcr.io/imaz12/devsecops-app:${VERSION} ./app

          docker tag ghcr.io/imaz12/devsecops-app:${VERSION} ghcr.io/imaz12/devsecops-app:latest

        env:

          VERSION: ${{ env.VERSION }}



      # 6. Push Docker image

      - name: Push Docker image to GHCR

        run: |

          echo "Pushing Docker image..."

          docker push ghcr.io/imaz12/devsecops-app:${VERSION}

          docker push ghcr.io/imaz12/devsecops-app:latest

        env:

          VERSION: ${{ env.VERSION }}



      # 7. Optional: Deploy / Secrets

      - name: Create GHCR Secret

        run: |

          echo "Create secrets or deploy here..."
